* {
	padding: 0
	margin: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.wrap {
	margin: 20px 80px;
}

.container {
	max-width: 595px;
	height: 550px;
	position: relative;
	margin: 0 auto;
}

.album{
	padding: 0 30px;
	position: relative;
	display: none;
}

.album_title {
	padding: 5px;
	text-align: center;
}

.photos{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow: auto;
	height: 515px;

}

.album_photo {
	display: block;
	width: 150px;
	height: 150px;
	margin: 10px;
	text-align: center;
	border: 1px solid #222;
}

.prev_button,
.next_button {
	position: absolute;
    display: inline-block;
    width: 30px;
    height: 100%;
    background-color: #99d2c7;
    opacity: 0.7;
    cursor: pointer;
	transform: translate(0,-100%);
}
.prev_button{
	left: 0px;
}

.next_button {
	right: 0px;
}

.prev_button:hover,
.next_button:hover {
	opacity: 1;
}

.prev_button:before,
.prev_button:after,
.next_button:before,
.next_button:after {
	content: "";
    position: absolute;
    left: 12px;
    width: 4px;
    height: 50px;
    background-color: #ededed;
}

.prev_button:before {
    top: 50%;
    transform: translate(0,-44%) rotate(25deg);
}

.prev_button:after {
    top: 50%;
    transform: translate(0, 44%) rotate(-25deg);
}

.next_button:before {
    top: 50%;
    left: 14px;
    transform: translate(0,-44%) rotate(-25deg);
}

.next_button:after {
    top: 50%;
    left: 14px;
    transform: translate(0, 44%) rotate(25deg);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}











@media only screen and (max-width : 768px) {
	.wrap {
		margin: 0;
	}

}



