* {
	padding: 0
	margin: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

div {
	
}

.wrap {
	margin: 20px 80px;
}

.album{
	margin: 0 auto;
	height: 550px;
	max-width: 535px;
	padding: 0 30px;
}

.album_title {
	padding: 5px;
	text-align: center;
}

.photos{
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	height: 515px;

}
.photos::-webkit-scrollbar{
    width:15px;
}

.photos::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
.photos::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
.photos::-webkit-scrollbar-track{
    border-width:0;
}
.photos::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

.album_photo {
	display: block;
	width: 150px;
	height: 150px;
	margin: 10px;
	text-align: center;
	border: 1px solid #222;
}

.album_scroll {
	height: auto;

}

.prev_button,
.next_button {
	position: relative;
    display: inline-block;
    width: 30px;
    height: 100%;
    background-color: #99d2c7;
    opacity: 0.7;
    cursor: pointer;
	transform: translate(0,-100%);
}
.prev_button{
	right: 30px;
}

.next_button {
	left: 500px;
}

.prev_button:hover,
.next_button:hover {
	opacity: 1;
}

.prev_button:before,
.prev_button:after,
.next_button:before,
.next_button:after {
	content: "";
    position: absolute;
    left: 12px;
    width: 4px;
    height: 50px;
    background-color: #ededed;
}

.prev_button:before {
    top: 250px;
    transform: translate(0,-50%) rotate(25deg);
}

.prev_button:after {
    top: 244px;
    transform: translate(0, 50%) rotate(-25deg);
}

.next_button:before {
    top: 250px;
    left: 14px;
    transform: translate(0,-50%) rotate(-25deg);
}

.next_button:after {
    top: 244px;
    left: 14px;
    transform: translate(0, 50%) rotate(25deg);
}

#songs-list {
border: 1px solid #000;
border-collapse: collapse;
}
#songs-list td {
border: 1px solid #000;
}

